asgiref
beautifulsoup4
biopython
crispy-bootstrap5
decorator
Django
django-autoslug
django-bootstrap-v5
django-ckeditor
django-cleanup
django-crispy-forms
django-js-asset
django-leaflet
mysqlclient
numpy
Pillow
self
soupsieve
sqlparse
tzdata
