{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Gönderiler {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {% if message.tags %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header pb-0">
                            <div class="d-lg-flex">
                                <div>
                                    <h5 class="mb-0">Mesaj Gönder</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <form action="" method="post" class="col-10 mx-auto">
                                {% csrf_token %}
                                {{ form.media }}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-dark float-end">Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-5 text-bolder text-gradient text-danger">Yetkili Girişi Yapmanız Gerekmekte</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
