{% extends "index.html" %}
{% load static bootstrap5 %}
{% block title %} Site Başlığı {% endblock %}

{% block content %}

    {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-12 mx-auto">
                    <div class="card card-body mt-3">
                        <h6 class="mb-0">Site Başlığı</h6>
                        <div class="row mt-4">
                            <div class="col-12 col-md-12 mx-auto">
                                <div class="form-group ">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <div class="d-flex justify-content-end mt-4">
                                           <button type="button" name="button" class="btn btn-light m-0">
                                                <a href="{% url "blog_dashboard" %}">İptal</a>
                                            </button>
                                            <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">
                                                Kaydet
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-5 text-bolder text-gradient text-danger">Yetkili Girişi Yapmanız Gerekmekte</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}