{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Kullanıcı Mesajları {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                {% if message.tags %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Mesajlar</h6>
                        </div>

                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Gönderen
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Konu
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Durum
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Tarih
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        {% for object in object_list %}
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    {% if object.sender.profile.avatar %}
                                                        <div>
                                                            <img src="{{ object.sender.profile.avatar.url }}"
                                                                 class="avatar avatar-sm me-3"
                                                                 alt="user1">
                                                        </div>
                                                    {% else %}
                                                        <div>
                                                            <img src="{% static 'assets/img/curved-images/curved-6.jpg' %}"
                                                                 class="avatar avatar-sm me-3"
                                                                 alt="user1">
                                                        </div>
                                                    {% endif %}

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ object.sender.profile.user.username }}</h6>
                                                        <p class="text-xs text-secondary mb-0">
                                                            <a class="__cf_email__">{{ object.sender.profile.email }}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="dropdown-item border-radius-md"
                                                   href="{% url 'user_messages_detail' object.sender|slugify object.pk object.title|slugify %}">
                                                    <p class="text-xs font-weight-bold mb-0">{{ object.title|truncatechars:20 }}</p>
                                                </a>

                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                {% if object.status == "Okunmadı" %}
                                                    <span class="badge badge-sm bg-gradient-success">Okunmadı</span>
                                                {% else %}
                                                    <span class="badge badge-sm bg-gradient-secondary">Okundu</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ object.created }}</span>
                                            </td>
                                            <td class="align-middle">
                                                <button class="btn btn-link text-secondary mb-0" id="dropdownTable"
                                                        data-bs-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                                                    aria-labelledby="dropdownTable">
                                                    <li><a class="dropdown-item border-radius-md"
                                                           href="{% url 'user_messages_detail' object.sender|slugify object.pk object.title|slugify %}">Görüntüle</a>
                                                    </li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                           href="{% url 'user_messages_delete' object.pk %}">Sil
                                                    </a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                           href="{% url 'user_mesaasges_delete_all_read' request.user.username %}">Tüm
                                                        okunmuş mesajları sil</a></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-5 text-bolder text-gradient text-danger">Yetkili Girişi Yapmanız
                            Gerekmekte</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
