{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Kullanıcı Mesajları {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header pb-0">
                            <div class="d-lg-flex">
                                <div>
                                    <h5 class="mb-0">{{ object.sender }} Kullanıcısından gelen mesaj.</h5>
                                </div>
                            </div>
                        </div>

                        <div class="card-body px-0 pb-0">
                            <div class="card-header pb-0">

                                <form method="post">
                                    <h5 class="mb-2">Tarih: {{ object.created }}</h5>
                                    <h5 class="mb-2">Gönderen: {{ object.sender }}</h5>
                                    <h5 class="mb-2">Konu: {{ object.title }}</h5>
                                    <h5 class="mb-2">Mesaj:</h5>
                                    <h5 class="mb-2 text-bolder justify-content-around">{{ object.message|safe }}</h5>

                                    <a href="{% url 'user_messages_delete' object.pk %}">
                                        <h5 class="btn btn-danger mb-2 text-bolder justify-content-around float-start m-2 mb-5">
                                            SİL</h5>
                                    </a>

                                    <button class="btn btn-dark mb-2 text-bolder justify-content-around float-start m-2 mb-5" type="button">
                                        <i class="ni ni-curved-next" ></i><span style="margin-left: 10px">Yanıtla</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-5 text-bolder text-gradient text-danger">Yetkili Girişi Yapmanız
                            Gerekmekte</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
