{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% block title %} User Delete {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header pb-0">
                            <div class="d-lg-flex">
                                <div>
                                    <h5 class="mb-0">{{ user.username|title }} Kullanıcısı Silinsin mi ?</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0 mx-auto">
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-danger">Sil</button>
                                <button type="submit" class="btn btn-dark float-end">
                                    <a href="{% url "dashboard" %}" class="text-white">Vazgeç</a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-1 text-bolder text-gradient text-danger">Error 404</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>

                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
