<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/img/apple-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "blog/assets/img/logo.png" %}">

    <meta name="author" content="Mehmet Erdem ÖZER">
    <meta name="keywords"
          content="BioPython, Bioblog, Python Tools for Computational Molecular Biology, 20219248004@cumhuriyet.edu.tr, MSA, Multiple suquence alignment(MSA), Phylogenetic Analysis, PALM,
            Maximum Likelihood Metodu PAML, palm"/>

    <title> {% block title %}{% endblock %} </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <!-- Nucleo Icons -->
    <link href="{% static "assets/css/nucleo-icons.css" %}" rel="stylesheet"/>
    <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet"/>
    <!-- Font Awesome Icons -->
    <script src="{% static "assets/js/42d5adcbca.js" %}" crossorigin="anonymous"></script>
    <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static "assets/css/soft-ui-dashboard.css" %}?{% now "U" %}" rel="stylesheet"/>

    <link id="pagestyle_dark" href="{% static "assets/css/dark-theme-core.css" %}" rel="stylesheet"/>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock %}

</head>


<body class="g-sidenav-show bg-gray-100">

{% include "includes/sidebar.html" %}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock %}

    {% include "includes/footer.html" %}

</main>

{% if request.user.is_superuser %}
    <!-- APP Configurator -->
    {% include "includes/fixed-plugin.html" %}
{% endif %}


<!-- Core JS Files -->
{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock %}


<script async defer src="{% static "assets/js/buttons.js" %}"></script>

<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static "assets/js/soft-ui-dashboard.min.js" %}"></script>

</body>
</html>
