<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky"
     id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                    <a class="opacity-5 text-dark" href="{% url "blog:home" %}">
                        <i class="fa fa-home me-1"></i>
                    </a>
                </li>
                {% if "dashboard" in request.build_absolute_uri %}
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">dashboard</a>
                    </li>
                {% elif "profile_edit" in request.build_absolute_uri %}
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Profili
                        Düzenle</a>
                    </li>
                {% elif bre %}
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">{{ bre }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Profil</a>
                    </li>
                {% endif %}
            </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Ara">
                </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
                {% if request.user.is_authenticated %}

                    <li class="nav-item d-flex align-items-center" style="margin-right: 10px">
                        <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
                            <i class="ni ni-user-run me-sm-1"></i>
                            <span class="d-sm-inline d-none">Çıkış</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item d-flex align-items-center" style="margin-right: 10px">
                        <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">Giriş</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item px-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0">
                            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown pe-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% if messagess %}
                                <i class="fa fa-bell cursor-pointer text-danger mb-1"></i>
                            {% else %}
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-bell-slash-fill mb-1" viewBox="0 0 16 16">
                                        <path d="M5.164 14H15c-1.5-1-2-5.902-2-7 0-.264-.02-.523-.06-.776L5.164 14zm6.288-10.617A4.988 4.988 0 0 0 8.995 2.1a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 7c0 .898-.335 4.342-1.278 6.113l9.73-9.73zM10 15a2 2 0 1 1-4 0h4zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75L.625 15.625z"/>
                                    </svg>
                                {% else %}

                                {% endif %}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-end px-2 py-3 me-sm-n4"
                            aria-labelledby="dropdownMenuButton">
                            {% if messagess %}
                                {% for message in messagess %}
                                    {% if forloop.counter < 4 %}
                                        <li class="mb-2">
                                            <a class="dropdown-item border-radius-md"
                                               href="{% url "messages" message.pk message.name|slugify %}">
                                                <div class="d-flex py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="text-sm font-weight-normal mb-1">
                                                            <span class="font-weight-bold">{{ message.name }}</span>
                                                        </h6>
                                                        <p class="text-xs text-secondary mb-0 ">
                                                            <i class="fa fa-clock me-1"></i>
                                                            {{ message.created }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md"
                                       href="#">
                                        <div class="d-flex py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal">
                                                    <span class="font-weight-bold">Mesaj Bulunamadı</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item pe-2 d-flex align-items-center">
                    <label for="theme-switch" class="nav-link text-body p-0 m-0">
                        <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                    </label>
                    <input type="checkbox" class="d-none" id="theme-switch"/>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
