{% extends "blog/index.html" %}
{% load static %}

{% block title %} Anasayfa {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block body_class %} presentation-page {% endblock %}

{% block content %}

    {% include "blog/includes/header.html" %}

    <!-- -------- START Content Presentation Docs ------- -->
    <main class="container">
        <div class="row g-4">
            <div class="col-lg-8">
                {% for post in posts_list %}
                    <section class="py-4">
                        <div class="container">
                            <div class="row justify-space-between py-2">
                                <div class="col-12 mx-auto">
                                    <div class="card">
                                        <a href="{% url 'post:post_detail' post.category.title.lower|slugify post.title.lower|slugify post.pk %}">
                                            <img class="card-img-top"
                                                 src="{{ post.cover.url }}">
                                        </a>
                                        <div class="position-relative overflow-hidden"
                                             style="height:50px;margin-top:-50px;">
                                            <div class="position-absolute w-100 top-0 z-index-1">
                                                <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     viewBox="0 24 150 40"
                                                     preserveAspectRatio="none" shape-rendering="auto">
                                                    <defs>
                                                        <path id="card-wave"
                                                              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                                    </defs>
                                                    <g class="moving-waves">
                                                        <use xlink:href="#card-wave" x="48" y="-1"
                                                             fill="rgba(255,255,255,0.30"></use>
                                                        <use xlink:href="#card-wave" x="48" y="3"
                                                             fill="rgba(255,255,255,0.35)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="5"
                                                             fill="rgba(255,255,255,0.25)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="8"
                                                             fill="rgba(255,255,255,0.20)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="13"
                                                             fill="rgba(255,255,255,0.15)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="16"
                                                             fill="rgba(255,255,255,0.99)"></use>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="text-gradient text-info text-uppercase text-xs font-weight-bold my-2">{{ post.category.title|title }}</h5>
                                            <h6 style="font-style: italic">{{ post.tags|lower }}</h6>
                                            <h4>{{ post.title }}</h4>
                                            <p>
                                                {{ post.body|safe|truncatechars_html:150 }}
                                            </p>
                                            <div class="author align-items-center">

                                                {% if post.author.profile.avatar %}
                                                    <img src="{{ post.author.profile.avatar.url }}"
                                                         alt="..." class="avatar shadow">
                                                {% else %}
                                                    <img src="{% static "assets/img/curved-images/curved1.jpg" %}"
                                                         alt="..." class="avatar shadow">
                                                {% endif %}

                                                <div class="name ps-3">
                                                    <a href="{% url "blog:blog_profile_detail" post.author.pk post.author|slugify %}">
                                                        <span>{{ post.author|title }}</span>
                                                    </a>

                                                    <div class="stats">
                                                        <small>{{ post.created|timesince }} önce paylaştı.</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% empty %}
                    <section class="py-4">
                        <div>
                            <div class="row justify-space-between py-2">
                                <div class="col-12 mx-auto">
                                    <div class="card shadow-lg">
                                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                            <a href="javascript:;" class="d-block">
                                                <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/annie-spratt.jpg"
                                                     class="img-fluid border-radius-lg">
                                            </a>
                                        </div>

                                        <div class="card-body pt-3">
                                            <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">Hub</span>
                                            <a href="javascript:;" class="text-darker card-title h5 d-block">
                                                Shared Coworking
                                            </a>
                                            <p class="card-description mb-4">
                                                Use border utilities to quickly style the border and border-radius
                                                of an
                                                element. Great for images, buttons.
                                            </p>
                                            <div class="author align-items-center">
                                                <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/marie.jpg"
                                                     alt="..." class="avatar shadow">
                                                <div class="name ps-3">
                                                    <span>Mathew Glock</span>
                                                    <div class="stats">
                                                        <small>Posted on 28 February</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="py-4">
                        <div>
                            <div class="row justify-space-between py-2">
                                <div class="col-12 mx-auto">
                                    <div class="card shadow-lg">
                                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                            <a href="javascript:;" class="d-block">
                                                <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/annie-spratt.jpg"
                                                     class="img-fluid border-radius-lg">
                                            </a>
                                        </div>

                                        <div class="card-body pt-3">
                                            <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">Hub</span>
                                            <a href="javascript:;" class="text-darker card-title h5 d-block">
                                                Shared Coworking
                                            </a>
                                            <p class="card-description mb-4">
                                                Use border utilities to quickly style the border and border-radius
                                                of an
                                                element. Great for images, buttons.
                                            </p>
                                            <div class="author align-items-center">
                                                <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/marie.jpg"
                                                     alt="..." class="avatar shadow">
                                                <div class="name ps-3">
                                                    <span>Mathew Glock</span>
                                                    <div class="stats">
                                                        <small>Posted on 28 February</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 5rem;">
                    <div class="p-4">
                        <h4 class="fst-italic">Son Gönderiler</h4>
                        <ol class="list-unstyled mb-0">
                            {% for post in posts_list %}
                                <li>
                                    <a href="{% url 'post:post_detail' post.category.title.lower|slugify post.title.lower|slugify post.pk %}">{{ post.title|title }}</a>
                                </li>
                            {% empty %}
                                <li><a href="#">March 2021</a></li>
                                <li><a href="#">February 2021</a></li>
                                <li><a href="#">January 2021</a></li>
                                <li><a href="#">December 2020</a></li>
                                <li><a href="#">November 2020</a></li>
                                <li><a href="#">October 2020</a></li>
                                <li><a href="#">September 2020</a></li>
                                <li><a href="#">August 2020</a></li>
                                <li><a href="#">July 2020</a></li>
                                <li><a href="#">June 2020</a></li>
                                <li><a href="#">May 2020</a></li>
                                <li><a href="#">April 2020</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                    {% include "blog/includes/social.html" %}
                </div>
            </div>
        </div>
    </main>
    <!-- -------- END Content Presentation Docs ------- -->

    {% include "blog/includes/alt.html" %}

{% endblock content %}

