{% extends 'layouts/base.html' %}
{% load plotly_dash %}
{% block title %} {{ bre }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}

    <div class="container-fluid py-4 mt-3 col-sm-12 shadow-md">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div>
                                <h5 class="mb-0">{{ object.method.title }}-{{ bre }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-0">
                        {% plotly_app name="AlignmentChart" ratio=1 use_frameborder=True %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
