{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                {% if message.tags %}
                                    {{ message }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Kullanıcılar</h6>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Kullanıcı
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Kullanıcı ad-soyad
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Katılma Tarihi
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Son oturum açma
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% for user in users %}
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    {% if user.profile.avatar %}
                                                        <a href="{% url 'profile' user.pk user.username %}">
                                                            <div>
                                                                <img src="{{ user.profile.avatar.url }}"
                                                                     class="avatar avatar-sm me-3"
                                                                     alt="{{ user.username }}">
                                                            </div>
                                                        </a>

                                                    {% else %}
                                                        <a href="{% url 'profile' user.pk user.username %}">
                                                            <div>
                                                                <img src="{% static 'assets/img/curved-images/curved-6.jpg' %}"
                                                                     class="avatar avatar-sm me-3"
                                                                     alt="{{ user.username }}">
                                                            </div>
                                                        </a>
                                                    {% endif %}

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ user.profile.user.username }}</h6>
                                                        <p class="text-xs text-secondary mb-0">
                                                            <a class="__cf_email__">{{ user.profile.email }}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{ user.profile.first_name }}</p>
                                                <p class="text-xs font-weight-bold mb-0">{{ user.profile.last_name }}</p>
                                            </td>

                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ user.date_joined }}</span>
                                            </td>

                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ user.last_login }}</span>
                                            </td>

                                            <td class="align-middle">
                                                <button class="btn btn-link text-secondary mb-0" id="dropdownTable"
                                                        data-bs-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                                                    aria-labelledby="dropdownTable">
                                                    <li><a class="dropdown-item border-radius-md"
                                                           href="{% url 'profile' user.profile.pk user.username %}">Profil</a>
                                                    </li>
                                                    {% if user.is_superuser %}

                                                    {% else %}

                                                        <li><a class="dropdown-item border-radius-md"
                                                               href="{% url 'dash_user_delete' user.pk %}">Kullanıcıyı
                                                            sil
                                                        </a></li>

                                                    {% endif %}

                                                    <li><a class="dropdown-item border-radius-md" href="{% url 'user_sent_message' user.pk user.username %}">Mesaj gönder</a></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-5 text-bolder text-gradient text-danger">Yetkili Girişi Yapmanız
                            Gerekmekte</h1>
                        <a href="{% url "blog:home" %}">
                            <button type="button" class="btn bg-gradient-dark mt-4 text-white">Anasayfa</button>
                        </a>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative"
                             src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/illustrations/error-404.png"
                             alt="404-page-page-error">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}