{% extends "index.html" %}
{% load static bootstrap5 %}
{% block title %} Dosya Dönüştürme {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-12 mx-auto">
                <div class="card card-body mt-3">
                    {% if "edit" in request.build_absolute_uri %}
                        <h6 class="mb-0">Dosya Formatı Düzenle</h6>
                    {% else %}
                        <h6 class="mb-0">Dosya Formatı Ekleyin</h6>
                    {% endif %}
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 mx-auto">
                            {% if "formats" in request.build_absolute_uri %}
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table align-items-center mb-0">
                                            <tbody>
                                            {% for object in object_list %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-xs">{{ object.name }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="align-content-end">
                                                        <a href="{% url "bioinformatic:file_format_delete" object.pk %}"
                                                           class="text-secondary font-weight-bold text-xs"
                                                           data-toggle="tooltip" data-original-title="Edit user">
                                                            <i class="fas fa-minus text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% elif "add" in request.build_absolute_uri %}
                                <div class="form-group ">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <div class="d-flex justify-content-end mt-4">
                                            <button type="button" name="button" class="btn btn-light m-0">
                                                <a href="{% url "bioinformatic:home" %}">Vazgeç</a>
                                            </button>
                                            <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">
                                                Ekle
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}