{% extends "index.html" %}
{% load static bootstrap5 %}
{% block title %} Dosya Dönüştürme {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-12 mx-auto">
                <div class="card card-body mt-3">
                    <h6 class="mb-0">Dosya Dönüştürme</h6>
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 mx-auto">
                            <div class="form-group ">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <div class="d-flex justify-content-end mt-4">
                                        {% if request.user.is_superuser %}

                                            <a href="{% url "bioinformatic:add_file_format" %}" class="m-3">
                                                <i class="fas fa-plus text-success"></i>
                                                <span>Dosya Formatı Ekle</span>
                                            </a>

                                            <a href="{% url "bioinformatic:edit_file_format" %}" class="m-3">
                                                <i class="fas fa-minus text-danger"></i>
                                                <span>Dosya Formatı düzenle</span>
                                            </a>

                                        {% endif %}
                                        <button type="button" name="button" class="btn btn-light m-2">
                                            <a href="{% url "bioinformatic:home" %}">Vazgeç</a>
                                        </button>
                                        <button type="submit" name="button" class="btn bg-gradient-dark m-2 ms-2">
                                            Dönüştür
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}